<span id="login_bar">
  <div class="navbar navbar-static-top">
    <div class = "container">
      <div class = "row">
      
        <div class = "col-xs-6">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-default sign btn-md' %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-default sign btn-md' %>
          <% end %>
        </div>
        <div class = "col-xs-6">
          <% if user_signed_in? %>
            <%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-default sign btn-md' %>
          <% else %>
            <%= link_to 'Register', new_user_registration_path, class: 'btn btn-default sign btn-md' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</span>


