<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "holi.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Selfless!</h1>
          <h3>Selfless is sending you daily reminders of good deeds you can make happen <strong>straight to your phone.</strong></h3>    
          <p>
                <% if user_signed_in? %>
                  <%= link_to 'Edit Account', edit_user_registration_path, class: "btn btn-lg btn-primary caro" %></li>
                <% else %>
                  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-lg btn-primary caro" %></li>
                <% end %>
                </p>

        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "color_wood.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Did you know...</h1><br> 
          <h3>that performing acts of kindness are extremely beneficial for both you and the people you affect?<br> 
          Visit our Good Deeds Forum to see the good others have done and perhaps share your own ideas!</h3>
          <p><a class="btn btn-lg btn-primary caro" href="/contributions" role="button">Good Deeds Forum</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>



<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<h2>Learn More:</h2>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<h4><a href="http://www.psychologicalscience.org/index.php/news/releases/investing-in-karma-by-doing-good-deeds.html" target="_blank">Investing in Karma by Doing Good Deeds, Association for Psychological Science</a></h4>
      <p><i>The researchers believe that investing in karma may be a positive way for us to cope with the otherwise unpleasant experience of just sitting around and waiting. “Even if people don’t actually believe in karma, they may still have an intuitive sense that good things happen to good people. If that intuition moves us to donate to a good cause and makes us a little more optimistic in the meantime, that seems like a good thing,” they conclude.</i></p><br>
      <h4><a href="http://www.huffingtonpost.co.uk/sandi-mann/paying-it-forward-random-good-deeds_b_2629556.html" target="_blank">Paying It Forward: The Psychology of Random Good Deeds, HuffPost UK</a></h4>
      <p><i>According to a study by Stanford University psychologist Sonja Lyubomirsky in 2005, students who carried out five random acts of kindness a week, reported higher levels of happiness than a control group. That I can understand; we feel good when we do good because we feel that we have made a positive contribution to society and we experience what psychologist call 'moral elevation'.</i></p><br>
      <h4><a href="http://greatergood.berkeley.edu/article/item/kindness_makes_you_happy_and_happiness_makes_you_kind" target="_blank">Kindness Makes You Happy… and Happiness Makes You Kind, Berkeley.edu</a></h4>
      <p><i>Two recent studies suggest that giving to others makes us happy, even happier than spending on ourselves. What’s more, our kindness might create a virtuous cycle that promotes lasting happiness and altruism.</i></p><br>
      <h4><a href="http://greatergood.berkeley.edu/article/item/how_good_news_can_inspire_good_deeds" target="_blank">How Good News Can Inspire Good Deeds, Berkeley.edu</a></h4>
      <p><i>“We have reason to believe that even a seemingly weak stimulus, like a story of moral goodness, can evoke moral elevation responses in nonexperimental settings,” write the authors. Therefore, if the news were to report on impressive good deeds more frequently, perhaps we would see a far-reaching ripple effect among readers.</i></p><br>
      <h4><a href="http://www.webmd.com/balance/features/science-good-deeds" target="_blank">The Science of Good Deeds, WebMD</a></h4>
      <p><i>Only in recent years have researchers explored the scientific underpinnings of the notion that "doing good" is indeed a good thing -- and precisely why it is good for us. Indeed, many scientific disciplines -- evolution, genetics, human development, neurology, social science, and positive psychology -- are at the heart of this investigation, says Post.</i></p><br>
			<br>
      <br>
      <span id="credit"><p><a href="https://flic.kr/p/bsVPYG" target="_blank">Holi photo by Irwin Scott</a></p>
      <p><a href="https://flic.kr/p/omo9Fc" target="_blank">Wood photo by Judi May</a></p></span>
		</div>
	</div>
</div>


