<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "holi.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Selfless!</h1>
          <p>Selfless is sending you daily reminders of good deeds you can make happen straight to your phone.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "color_wood.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h3>Did you know that performing acts of kindness are extremely beneficial for both you and the people you affect?</h3>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>









<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<h1>Welcome to Selfless!</h1>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<h4>Did you know that performing acts of kindness are extremely beneficial for both you and the people you affect?</h4><br>
			<h4>Start making a difference in the world around you with Selfless, the first app designed you send daily reminders and tips of good deeds you can make happen straight to your phone.
		</div>
	</div>
</div>

<nav>
	<%= link_to 'Visit our Good Deeds Forum!', contributions_path, class: 'btn btn-info' %>
</nav>


