<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "holi.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Selfless!</h1>
          <h3>Selfless is sending you daily reminders of good deeds you can make happen <strong>straight to your phone.</strong></h3>    
          <p><a class="btn btn-lg btn-primary caro" href="/users/sign_up" role="button">Sign Up</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "color_wood.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Did you know...</h1><br> 
          <h3>that performing acts of kindness are extremely beneficial for both you and the people you affect?<br> 
          Visit our Good Deeds Forum to see the good others have done and perhaps share your own ideas!</h3>
          <p><a class="btn btn-lg btn-primary caro" href="/contributions" role="button">Good Deeds Forum</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>



<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<h2>Learn More:</h2>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<h4><a href="http://www.webmd.com/balance/features/science-good-deeds" target="_blank"> The Science of Good Deeds</a></h4><br>
			<h4></h4>
		</div>
	</div>
</div>


