<%= form_for(@contribution) do |f| %>
  <span>
  <div class="field">
    <%= f.label :submit_your_own_idea %>:<br>
    <%= f.text_field :content %>
  </div>
  <br>
  <div class="actions" >
    <%= f.submit "Submit", class: 'btn btn-success btn-sm' %>
  </div>
  <br>
  </span>
<% end %>
</div>