<br>
<br>
<br>
<br>
<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<h1>Good Deeds Forum</h1>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-8">
			<% @contributions.each do |contribution| %>
				<%= contribution.content %>  <%= link_to 'Delete', contribution, method: :delete, data: { confirm: 'Are you sure?' } %><br>
			<% end %>
		</div>
		<div class = "col-xs-4">
			<%= render 'form' %>
		</div>	
	</div>
</div>
<br>

