<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<h1>Good Deeds Forum</h1>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-6">
			<% @contributions.each do |contribution| %>
				<%= contribution.content %>  <%= link_to 'Delete Contribution', contribution, method: :delete, data: { confirm: 'Are you sure?' } %><br>
			<% end %>
		</div>
		<div class = "col-xs-6">
			<%= render 'form' %>
		</div>	
	</div>
</div>
<br>
<div class="navbar navbar-fixed-bottom">
  <div class="container">
    <%= link_to 'Back Home', deeds_path, class: 'btn btn-info' %>
  </div>
</div>
